.decoder {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  width: 180px;
}

.decoder::placeholder {
  font-size: 0.875rem;
  color: rgba(249, 250, 251, 0.6);
}

.container {
  position: relative;
}

.result {
  backdrop-filter: blur(10px);
  border-radius: 12px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  word-break: break-all;
  padding: 1rem;
}
